body{
	background: yellow;
}

p{
	color: blue;
	font-size: 20px;
}

h1{
	font-size: 30px;
	text-decoration: underline;
}

#banner{
	border: 1px solid #000000;
	background: hotpink;
	width: 300px;
	height: 200px;
}

#content{
	border: 1px solid #000000;
	background: #fff;
	width: 100%;
	height: 400px;
}